.ov-daterange-picker {
  position: relative;
  width: 100%;
  margin: 0 auto;
}

/* === Kalendar popup === */
.ov-picker-container {
  flex-direction: column;
  position: absolute;
  top: 80px;
  right: 0;
  border: 1px solid #ccc;
  padding: 15px;
  width: 900px;
  background-color: #1b203a;
  z-index: 999;

}

.ov-picker-container.always-open {
  width: calc(100% - 2 * 15px) !important;
  margin: 15px 0;
  position: static !important;
  top: auto;
  right: auto;
}

/* === Wrapper za oba meseca jedan pored drugog === */
.ov-calendars-wrapper {
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  width: 100%;
}

/* === Pojedinačni kalendar (jun/jul) === */
.ov-calendar {
  width: 50%;
  font-family: sans-serif;
  user-select: none;

}

/* === Naslov meseca === */
.ov-calendar-header {
  text-align: center;
  margin-bottom: 8px;
  font-size: 16px;
  color: #fff;
  font-weight: bold;
  padding: 20px 0;
}

/* === Dani u nedelji === */
.ov-day-headers {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  text-align: center;
  font-weight: bold;
  color: #fff;
  margin-bottom: 5px;
}

.ov-day-name {
  font-size: 13px;
}

/* === Dani u mesecu === */
.ov-days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 3px;
  text-align: center;
  grid-auto-rows: 58px;
}

/* === Jedan dan === */
.ov-day {
  min-height: 50px;
  padding: 8px 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  color: white;
  background-color: #2a3052;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  position: relative;
  cursor: pointer;
  box-sizing: border-box;
}

.ov-day.differentDay {
  color: #999;
}

/* === Cene ispod dana === */
.ov-label {
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  margin-top: 4px;
}

/* === Stanja dana === */
.ov-day.past-day,
.ov-day.unavailable-day {
  opacity: 0.4;
  pointer-events: none;
  cursor: not-allowed;
  color: #999;
}

.ov-day.booked-day {
  background-color: #f44336 !important;
  color: white !important;
  cursor: not-allowed !important;
  pointer-events: none !important;
}

.ov-day.selected,
.ov-day:hover:not(.ov-picker-container.always-open .ov-day),
.ov-day.end-date {
  background-color: #7b47ff !important;
  color: #fff !important;
  transition: all .3s;
}


.ov-day.in-range,
.ov-day.hover-range {
  background-color: #8b5dff91 !important;
  color: #fff !important;
  transition: all .3s;

}

.ov-navigation {
  position: absolute;
  width: calc(100% - 30px);
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.month-arrow {
  cursor: pointer;
}


.ov-picker-container.small {
  .ov-calendars-wrapper {
    flex-direction: column;
    gap: 0px;
    text-align: center;
  }

  .ov-calendar {
    width: 100%;
    margin: 0;
    padding: 0;

    h3 {
      margin: 10px;
    }

    .ov-day {
      height: 40px;
    }
  }
}


/* Read only styles
.ov-booking_readonly_calendar{
  .ov-picker-container{
    .ov-calendars-wrapper{
      .ov-calendar{
        .ov-days{
          .ov-day{
            min-height: 40px;
          }
        }
      }
    }
  }
} */

/* === Sakrivanje === */
.hidden {
  display: none !important;
}

@media screen and (max-width: 992px) {
  .ov-picker-container {
    width: calc(100% - 2 * 15px) !important;
    left: 50%;
    transform: translateX(-50%);
  }

  .ov-picker-container.always-open {
    left: 0;
    transform: translate(0);
  }

  .ov-days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
    text-align: center;
  }

  .ov-day {
    width: calc(100%-20px);
  }
}

@media screen and (max-width: 768px) {
  .ov-picker-container {
    .ov-calendars-wrapper {
      flex-direction: column;
      gap: 0px;
      text-align: center;
    }

    .ov-calendar {
      width: 100%;
      margin: 0;
      padding: 0;

      h3 {
        margin: 10px;
      }

      .ov-day {
        height: 40px;
      }
    }
  }
}

@media screen and (max-width: 425px) {

  .ov-day {
    font-size: 10px;
    height: auto;
    padding: 5px;
  }
}