html,body{
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
}
.ob-booking-active{
    .ast-container{
        all: revert !important;
    }
}

.ob-booking-active.ovb-cart-page{
    .ov-cart-notices{
        display: none !important;
    }
}

#order_data  h3 {
    display: none !important;
}

body.hidden {
  overflow: hidden !important;
}

/* Disable WooCommerce product data */
#woocommerce-product-data{
    display: none !important;
}


/* shortcode css */

.ovb-filter-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px; /* Razmak između dugmića */
}

.ovb-filter-buttons a.ovb-filter-button {
    /* Opciono: Dodaj stil za same dugmiće */
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: none;
    color: #333;
    background-color: #f9f9f9;
}

.ovb-filter-buttons a.ovb-filter-button.active {
    /* Stil za aktivno dugme */
    background-color: #8a2be2; /* Primer ljubičaste boje */
    color: white;
    border-color: #8a2be2;
}
/* Reset za naša filter dugmad */
button.ovb-filter-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    font: inherit; /* Nasleđuje font od roditelja */
    color: inherit; /* Nasleđuje boju teksta */
    cursor: pointer;
    text-align: left;
}

/* Opciono: Stilovi za bolji izgled, kao što smo imali pre */
.ovb-filter-buttons button.ovb-filter-button {
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.ovb-filter-buttons button.ovb-filter-button.active {
    background-color: #4f46e5; /* Primer boje, prilagodi */
    color: white;
    border-color: #4f46e5;
}