html,body{
    padding: 0 !important;
    margin: 0 !important;
    box-sizing: border-box !important;
}
.ob-booking-active{
    .ast-container{
        all: revert !important;
    }
}

.ob-booking-active.ovb-cart-page{
    .ov-cart-notices{
        display: none !important;
    }
}