body.ov-single-product-body .ast-container,
body.ov-my-account-body .ast-container {
  all: unset;
  width: 100% !important;
  max-width: none !important;
  padding: 0 !important;
  margin: 0 auto;
  box-sizing: border-box;
}